{% extends 'main.html' %}
{% load static%}

{% block title %} Login {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css'%}">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/login.js'%}"></script>

<script>
	const url = "{% url 'login_check' %}";
</script>
{% endblock %}


{% block content %}
<div class="content">
	<div class="hero">
		<img src="{% static 'assets/images/login.svg' %}" alt="Hero Image">
	</div>
	<div class="main">
		<h1 class="main__title">Login</h1>
		<form class="login__form" id="login" action="{% url 'login' %}" method="POST">
			{% csrf_token %}
			<div class="login__form__input">
				<span class="login__form__input__warning"></span>
				<input type="text" name="username" class="login__form__input__field" autocomplete="off" required />
				<label class="login__form__input__label">Username</label>
			</div>
			<div class="login__form__input">
				<span class="login__form__input__warning"></span>
				<input type="password" name="password" class="login__form__input__field" autocomplete="off" required />
				<label class="login__form__input__label">Password</label>
			</div>
			<div class="login__form__submit-wrap">
				<button type="submit" class="login__form__submit">Submit</button>
			</div>
			<p class="login__form__redirection">Don't have an account?<a href="{% url 'register' %}"> Create one</a></p>
		</form>
	</div>
</div>
{% endblock %}
