{% extends 'main.html' %}

{% block title %} Home {% endblock %}

{% block scripts %}
<script>
	const userData = JSON.parse("{{userData|escapejs}}".replaceAll("\'", "\"").replaceAll("None", null));
	console.log(userData)
</script>
{% endblock %}

{% block content %}
<div class="content">
	<div class="card">
		<img src="" alt="" srcset="">
		<p class="username"></p>
		<p class="email"></p>
		<p class="contact"></p>
		<p class="dob"></p>
		<p class="age"></p>
		<p class="country"></p>
		<a href="/edit/">Edit Profile</a>
	</div>
	<a href="/logout/"></a>
</div>
{% endblock %}
