{% extends 'main.html' %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/profile.css'%}">
{% endblock %}

{% block scripts %}
<script>
	const userData = JSON.parse("{{userData|escapejs}}".replaceAll("\'", "\"").replaceAll("None", null));
</script>

<script src="{% static 'js/profile.js'%}"></script>
{% endblock %}

{% block content %}
<div class="content">
	<div class="hero">
		<img src="{% static 'assets/images/profile.svg' %}" alt="Hero Image">
	</div>
	<div class="main">
		<h1 class="main__title">Profile</h1>
		<div class="profile">
			<div class="profile__photo-wrap">
				<div class="profile__photo">
					{% if photo %}
						<img src="data:image/png;base64, {{photo}}" alt="">
					{% else %}
						<img src="{% static 'assets/images/avatar.svg' %}" alt="">
					{% endif %}
				</div>
				<p class="profile__username"></p>
			</div>
		</div>
		<a class="edit-profile-btn"><button>Edit profile</button></a>
	</div>
		<a href="{% url 'logout' %}" class="logout"><button>Logout</button></a>
	</div>
	{% endblock %}
