{% extends 'main.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/profile.css'%}">
{% endblock %}

{% block scripts %}
<script>
	const userData = JSON.parse("{{userData|escapejs}}".replaceAll("\'", "\"").replaceAll("None", null));
</script>

<script src="{% static 'js/profile.js'%}"></script>
{% endblock %}

{% block content %}
<div class="content">
	<div class="hero">
		<img src="{% static 'assets/images/profile.svg' %}" alt="Hero Image">
	</div>
	<div class="main">
		
	</div>
	<a href="{% url 'logout' %}" class="logout"><button>Logout</button></a>
</div>
{% endblock %}
