{% extends 'main.html' %}
{% load static%}

{% block title %} Home {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/register.css'%}">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/register.js'%}"></script>
{% endblock %}


{% block content %}
<div class="content">
	<div class="hero">
		<img src="../static/assets/images/register.svg" alt="Hero Image">
	</div>
	<div class="main">
		<h1 class="main__title">Register</h1>
		<form class="register__form" id="register" action="{% url 'register' %}" method="POST">
			{% csrf_token %}
			<div class="register__form__input">
				<span class="register__form__input__warning"></span>
				<input type="text" name="name" class="register__form__input__field" autocomplete="off" required />
				<label class="register__form__input__label">Full Name</label>
			</div>
			<div class="register__form__input">
				<span class="register__form__input__warning"></span>
				<input type="text" name="email" class="register__form__input__field" autocomplete="off" required />
				<label class="register__form__input__label">Email</label>
			</div>
			<div class="register__form__input">
				<span class="register__form__input__warning"></span>
				<input type="password" name="password" class="register__form__input__field" autocomplete="off"
					required />
				<label class="register__form__input__label">Password</label>
			</div>
			<div class="register__form__submit-wrap">
				<button type="submit" class="register__form__submit">Submit</button>
			</div>
			<p class="register__form__redirection">Already have an account?<a href="{% url 'login' %}"> Login</a></p>
		</form>
	</div>
</div>
{% endblock %}
