.content {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero {
  display: grid;
  place-items: center;
  order: 1;
}
.hero img {
  height: 31.25rem;
  width: 31.25rem;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 12rem auto;
  font-size: 1.25rem;
  color: var(--primary-600);
  order: 2;
  text-transform: uppercase;
}
.main__title {
  font-weight: 600;
  letter-spacing: 5px;
}
.main__links {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  margin-left: 5rem;
}
.main__links button {
  outline: none;
  background: #fff;
  width: 12.5rem;
  height: 3.125rem;
  border-radius: 0.3rem;
  border: 1px solid var(--primary-300);
  color: var(--primary-500);
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.main__links button:hover {
  background: #000;
  color: #fff;
}

.credit {
  text-transform: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--primary-400);
  font-size: 0.75rem;
  font-weight: 600;
}