.content
	min-height: 100vh
	display: grid
	grid-template-columns: repeat(2, 1fr)

.hero
	display: grid
	place-items: center
	order: 1

	img
		width: 31.25rem

.main
	width: 100%
	display: flex
	flex-direction: column
	justify-content: center
	gap: 2rem
	font-size: 1.25rem
	color: var(--primary-600)
	order: 2
	text-transform: uppercase

	&__title
		font-weight: 600
		letter-spacing: 5px

	&__links
		display: flex
		gap: 1rem
		text-decoration: none
		margin-left: 5rem

		button
			outline: none
			background: #fff
			width: 12.5rem
			height: 3.125rem
			border-radius: 0.3rem
			border: 1px solid var(--primary-300)
			color: var(--primary-500)
			font-size: 1rem
			font-weight: 600
			transition: all .3s ease-in-out

			&:hover
				background: #000
				color: #fff

.credit
	text-transform: none
	position: absolute
	bottom: 2rem
	width: 100%
	text-align: center
	color: var(--primary-400)
	font-size: .75rem
	font-weight: 600


@media screen and (max-width: 77rem)
	.content
		display: flex
		flex-direction: column

	.hero
		order: 2

	.main
		order: 1
		margin: 3rem auto
		align-items: center

		&__links
			margin-left: 0

	.hero img
		width: 28rem


@media screen and (max-width: 48rem)
	html
		font-size: 12px

	.content
		justify-content: center

	.main
		margin: 2rem auto

	.hero img
		width: 25rem
		

@media screen and (max-width: 30rem)
	html
		font-size: 8px

	.main__title
		text-align: center

	.hero img
		width: 30rem

